* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --txt-color: #01295f;
  --selection: #fd151b;
  --bg-color: #437f97;
}

::selection {
  background-color: var(--selection);
}

body {
  background-color: var(--bg-color);
  color: var(--txt-color);
}